:root {
    --colors-background: #0F0F0F;
    --colors-text: #FFF;
    --colors-nav-link: #FFF;
    --colors-link: #F1C232;
    --colors-text-footer: #c8c8c8;
    --colors-danger: #aa0000;

    --font-size-tiny: 0.25rem;
    --font-size-very-small: 0.5rem;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-big: 1.5rem;
    --font-size-bigger: 2rem;
    --font-size-large: 3rem;
    --font-size-very-large: 4rem;
    --font-size-huge: 5rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-family: "Segoe UI";
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.element {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

html {
    background-color: var(--colors-background);
}

header {
    top: 0;
    position: sticky;
    z-index: 99999999999;
}

.navbar {
    padding: 1vh 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
    background-color: rgba(0,0,0,0.9);
    border-bottom: 0.25vh solid var(--colors-link);
}

.navbar-logo {
    height: 100px;
}

.navbar a {
    text-decoration: none;
    color: var(--colors-nav-link);
    font-size: var(--font-size-big);
    text-align: center;
}

.navbar a:hover {
    color: var(--colors-link);
}

/*main */
main h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw 10vh 5vw;
    gap: 20px
}
.leftItem, .center-item, .rightItem{
    width: 30vw;
    height: 55vh;
    display: flex;
}
.leftItem, .rightItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}
h2{
    text-align: center;
    padding-bottom: 20px;
}
.center-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 60vh;
}
.center-item img{
    height: 30vh;
    width: 40vh;
    object-fit: cover;
    align-self: center;
    border-radius: 10px;
    border: solid 1px white;
}
.webButton{
    background-color: var(--colors-link);
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    align-self: center;
}
.webButton:hover{
    background-color: #bd9a2a;
}







/* Footer */
footer {
    border-top: 0.25vh solid var(--colors-link);
    padding: 2.5vh 5vh;
}

footer p {
    color: var(--colors-text-footer);
}

.footer-contact {
    color: var(--colors-text);
}

.footer-social-links {
    display: flex;
    color: var(--colors-text);
    gap: 2vw;
    margin-bottom: 2.5vh;
}

.footer-social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colors-text);
    background-color: var(--colors-background);
    height: 40px;
    width: 40px;
}

.footer-social-links a:hover {
    color: var(--colors-background);
    background-color: var(--colors-link);
    border: 0 hidden var(--colors-background);
    border-radius: 1.5vh;
}

.footer-copyright {
    color: var(--colors-text-footer);
    font-size: var(--font-size-small);
}

.footer-copyright a {
    text-decoration: none;
    color: var(--colors-link);
}

.footer-copyright a {

}

.footer-location-contact {
    color: var(--colors-text);
}

.footer-info {
    margin-bottom: 2.5vh;
}

footer.row {
    justify-content: space-between;
    align-items: center;
    border: none;
}