:root {
    --colors-background: #0F0F0F;
    --colors-background-light: #191919;
    --colors-background-lighter: #1E1E1E;
    --colors-text: #FFF;
    --colors-nav-link: #FFF;
    --colors-link: #F1C232;
    --colors-text-footer: #c8c8c8;
    --colors-danger: #f00;

    --font-size-tiny: 0.25rem;
    --font-size-very-small: 0.5rem;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-big: 1.5rem;
    --font-size-bigger: 2rem;
    --font-size-large: 3rem;
    --font-size-very-large: 4rem;
    --font-size-huge: 5rem;
}

* {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    border: 0;
}

.margin-0 {
    margin: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.element {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

header {
    top: 0;
    position: sticky;
    z-index: 99999999999;
}

.navbar {
    padding: 1vh 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
    background-color: rgba(0,0,0,0.9);
    border-bottom: 0.25vh solid var(--colors-link);
}

.navbar-logo {
    height: 100px;
}

.navbar a {
    text-decoration: none;
    color: var(--colors-nav-link);
    font-size: var(--font-size-big);
    text-align: center;
}

.navbar a:hover {
    color: var(--colors-link);
}

.column{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 20px 70px;
    color: white;
}
.title span{
    padding: 0px 60px 0px 60px;
    text-align: center;
}
.title a{
    color: white;
    text-decoration: none;
}
.title a:hover{
    color: #F1C232;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .title {
    margin-bottom: 25px;
}

form .form-column {
    margin: 10px 0;
}

form div.column {
    margin: 2vh 0;
}

form label {
    color: var(--colors-text);
    font-size: var(--font-size-big);
}

form input {
    padding: 5px;
    width: 490px;
}

form button {
    margin-top: 25px;
    color: var(--colors-background);
    background-color: var(--colors-link);
    margin-bottom: 5vh;
    padding: 10px;
    font-size: var(--font-size-medium);
    border: 0.5vh solid var(--colors-background);
    border-radius: 1.5vh;
}

form button:hover {
    background-color: #bd9a2a;
}

.calendar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.calendar-item{
    width: 150px;
    height: 75px;
}
.days{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 60px;
}
.days div {
    width: 145px;
    height: 40px;
    color: black;
}

.time-column{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.time-column span{
    height: 75px;
    width: 60px;
    border-top: solid 1px white;
    box-sizing: border-box;
}
.calendar-button-unavailable, .calendar-button-full, .calendar-button, .past-calender-button, .past-calender-button-admin{
    width: 145px;
    height: 75px;
    border-color: black;
    border-style: solid;
    border-radius: 0;
    border-width: 0;
    border-top-width: 1px;
    border-top-color: lightgray;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
    border-right-width: 2px;
    border-left-width: 2px;
    align-items: normal;
    color:black;
    text-decoration:none;
    background-color: white;
    font-size: 13px;
    box-sizing: border-box;
}
.calendar-button-full {
    background-color: var(--colors-danger);
}

.calendar-button:hover,
.calendar-button-full:hover,
.past-calender-button-admin:hover{
    background-color: darkgray;
}
.calendar .calendar-button-unavailable{
    background-color: indianred;
    pointer-events: none;
    cursor: default;
}
.calendar .past-calender-button{
    color:darkgray;
    background-color: whitesmoke;
    text-decoration:none;
    pointer-events: none;
    cursor: default;
}

.past-calender-button-admin {
    color:darkgray;
    background-color: whitesmoke;
    text-decoration:none;
}

.past-calender-button-admin:hover {
    color: black;
}

div .dayOfWeek{
    text-align: center;
    border: solid black 1px;
    background-color: #F1C232;
    box-sizing: border-box;
    height: 40px;
}
div .currentDayOfWeek{
    text-align: center;
    border: solid black 1px;
    background-color: #F1C232;
    font-weight: bolder;
    color:white;
    box-sizing: border-box;
}



.previous-page {
    display: flex;
}

.previous-page-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--colors-text);
    padding: 5px;
}

.previous-page-button:hover {
    color: var(--colors-link);
}

.previous-page-button:hover svg {
    fill: var(--colors-link); /* Zorgt ervoor dat de SVG de kleur aanneemt, Gedaan via ChatGPT omdat dit zwaar zat te kloten */
}


input{
    background-color: white;
    color:black;
}

.reservation-overzicht {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    color: var(--colors-text);
    font-size: var(--font-size-bigger);
}

footer {
    border-top: 0.25vh solid var(--colors-link);
    padding: 2.5vh 5vh;
}

footer p {
    color: var(--colors-text-footer);
}

.footer-contact {
    color: var(--colors-text);
}

.footer-social-links {
    display: flex;
    color: var(--colors-text);
    gap: 2vw;
    margin-bottom: 2.5vh;
}

.footer-social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colors-text);
    background-color: var(--colors-background);
    height: 40px;
    width: 40px;
}

.footer-social-links a:hover {
    color: var(--colors-background);
    background-color: var(--colors-link);
    border: 0 hidden var(--colors-background);
    border-radius: 1.5vh;
}

.footer-copyright {
    color: var(--colors-text-footer);
    font-size: var(--font-size-small);
}

.footer-copyright a {
    text-decoration: none;
    color: var(--colors-link);
}

.footer-copyright a {

}

.footer-location-contact {
    color: var(--colors-text);
}

.footer-info {
    margin-bottom: 2.5vh;
}

footer.row {
    justify-content: space-between;
    align-items: center;
}