:root {
    --colors-background: #0F0F0F;
    --colors-text: #FFF;
    --colors-nav-link: #FFF;
    --colors-link: #F1C232;
    --colors-text-footer: #c8c8c8;
    --colors-danger: #f00;

    --font-size-tiny: 0.25rem;
    --font-size-very-small: 0.5rem;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-big: 1.5rem;
    --font-size-bigger: 2rem;
    --font-size-large: 3rem;
    --font-size-very-large: 4rem;
    --font-size-huge: 5rem;
}

* {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    border: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.element {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

html {
    background-color: var(--colors-background);
}

header {
    top: 0;
    position: sticky;
    z-index: 99999999999;
}

.navbar {
    padding: 1vh 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
    background-color: rgba(0,0,0,0.9);
    border-bottom: 0.25vh solid var(--colors-link);
}

.navbar-logo {
    height: 100px;
}

.navbar a {
    text-decoration: none;
    color: var(--colors-nav-link);
    font-size: var(--font-size-big);
    text-align: center;
}

.navbar a:hover {
    color: var(--colors-link);
}

/*End Header*/
.title-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    height: 50vh;
    min-height: 100px;
    background-color: var(--colors-background);
    background-image: url('/Images/FOCUS-MH-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover, contain;
    border-bottom: 1px solid white;
}

.title,
.subtitle{
    padding: 1vh 2vw;
    color: var(--colors-text);
    font-weight: bolder;
    text-align: center;
}

.title {
    font-size: var(--font-size-very-large);
    text-shadow: 1px 1px 2px black;
    padding-top: 3vh;
}

.subtitle {
    font-size: var(--font-size-large);
}

.titleInfo{
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 25px;
}
.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
    color: var(--colors-text);
}
.indexButton{
    color:white;
    border: white 2px solid;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    width: 150px;
    text-align: center;
}
.indexButton:hover{
    color: var(--colors-link);
    border-color: #F1C232;
}
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.register-button {
    padding: 10px;
    color: var(--colors-background);
    background-color: var(--colors-link);
    text-decoration: none;
    border-radius: 1.5vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
}

form .title {
    margin-bottom: 25px;
}

form .form-column {
    margin: 10px 0;
}

form label {
    color: var(--colors-text);
    font-size: var(--font-size-big);
}

form input {
    padding: 5px;
    width: 490px;
}

form button {
    margin-top: 25px;
    color: var(--colors-background);
    background-color: var(--colors-link);
    padding: 10px;
    font-size: var(--font-size-medium);
    border: 0.5vh solid var(--colors-background);
    border-radius: 1.5vh;
}

.cookie-text {
    color: var(--colors-text);
    font-size: var(--font-size-big);
    font-weight: bolder;
    text-align: center;
}

.logout {
    display: flex;
    justify-content: right;
    margin: 15px 15px 0 0;
    gap: 5px;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--colors-text);
}

.logout-button:hover {
    color: var(--colors-link);
}

.delete-account {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: var(--colors-danger);
    text-decoration: none;
}

.checkbox-small {
    width: auto;
}

.danger-button {
    background-color: var(--colors-danger);
}

.Danger {
    color: var(--colors-danger);
}

.userReservations{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.userReservations h2{
    padding-bottom: 40px;
}
table{
    border-collapse: collapse;
}
table tr{
    border-bottom: solid white 2px;
}
table th,td{
    padding: 10px;
    border-right: lightgray solid 1px;
    color:white;
    text-align: center;
}
.dltButton{
    border: none;
}
.dltButton a {
    color: var(--colors-link);
    text-decoration: none;
}
.dltButton a:hover {
    color: indianred;
}

/*Footer*/
footer {
    border-top: 0.25vh solid var(--colors-link);
    padding: 2.5vh 5vh;
}

footer p {
    color: var(--colors-text-footer);
}

.footer-contact {
    color: var(--colors-text);
}

.footer-social-links {
    display: flex;
    color: var(--colors-text);
    gap: 2vw;
    margin-bottom: 2.5vh;
}

.footer-social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colors-text);
    background-color: var(--colors-background);
    height: 40px;
    width: 40px;
}

.footer-social-links a:hover {
    color: var(--colors-background);
    background-color: var(--colors-link);
    border: 0 hidden var(--colors-background);
    border-radius: 1.5vh;
}

.footer-copyright {
    color: var(--colors-text-footer);
    font-size: var(--font-size-small);
}

.footer-copyright a {
    text-decoration: none;
    color: var(--colors-link);
}

.footer-copyright a {

}

.footer-location-contact {
    color: var(--colors-text);
}

.footer-info {
    margin-bottom: 2.5vh;
}

footer.row {
    justify-content: space-between;
    align-items: center;
}